body {
    margin: 0;
    font-family: Verdana;
    background-color: MistyRose;
}

footer {
    background: linear-gradient(90deg, #0cc0df, #ffde59);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    padding: 10px;
}

.logo img {
    width: 150px; /* Smaller logo size */
    margin-right: 20px;
}

.footer-content h1 {
    margin: 0;
    font-family: Tahoma;
    color: black;
}

.footer-content p {
    margin: 10px 0;
}

.footer-content a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
}

a:hover {
    color: #ffde59;
    text-decoration: underline;
}

.logo img {
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.hero-section {
    padding: 10px;
    text-align: center;
}

.hero-section button {
    margin: 10px 5px; /* Space between buttons */
}

.hero-section .button-container {
    margin-top: 20px; /* Move the buttons down */
}

video {
    margin-top: 20px;
}

@media (max-width: 768px) {
    footer {
        flex-direction: column;
        text-align: center;
    }

    .hero-section {
        padding: 10px;
    }

    .container {
        max-width: 100%;
        padding: 10px;
    }
}

video, img {
    max-width: 100%;
    height: auto;
}
